/*}.Outer-Box {
    background-color: gray;
    border-radius: 1%;
    align-items: center;

}


.red-light {
     background-color: red;
     width : 2px;
     height: 2px;
     border-radius: 3%;

     
}

.greeb-light{
    background-color: green;
    width : 2px;
     height: 2px;
     border-radius: 3%;

}

.yellow-light{
    background-color: yellow;
    width : 2px;
     height: 2px;
     border-radius: 3%;

} */